<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
<p><%= number_to_phone "+918860165671" %></p>
<p><%= number_to_currency "8860165671" %></p>
<p><%= number_to_percentage "8860165671" %></p>
<p><%= number_with_delimiter "8860165671" %></p>
